<div class="container_big-card">
    <div class="big-card_photo">
        <!--mockado-->
        <img src="https://img.ibxk.com.br/ms/images/highlights/000/042/309/40234.jpg" alt="">
    </div>

    <div class="big-card_title">
        <h1><a href="#">a nova versão do angular</a></h1>
    </div>

    <div class="big-card_description">
        <p><a href="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </a></p>
    </div>
    
</div>
