
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="leftSide">
        <app-big-card 
        photoCover="https://tse1.mm.bing.net/th?id=OIP.PZlvvGRWoRGR8wA7IYKL2AHaEM&pid=Api&P=0"
        cardTitle="NOVIDADES DO HOMEM DE FERRO 4"
        cardDescription="marvel anuncia novo ator para homem de ferro"
        >
        </app-big-card>
    </div>
    <div class="rightSide">
        <app-small-card 
        photoCard="https://tse3.mm.bing.net/th?id=OIP.lAJdr3rICNNbABgvs_SsdgHaFz&pid=Api&P=0"
        contentCard="lançamento do novo filme do ironMan, saiba mais sobre curiosidades dos filmes passados"
        contentPage="#"
        >
        </app-small-card>
        <app-small-card
        photoCard="https://tse2.mm.bing.net/th?id=OIP.sdR_NSCSANuQJfnMQdgwgAHaEo&pid=Api&P=0"
        contentCard="pantera negra, data de lançamento e onde assistir"
        contentPage="#"
        >

        </app-small-card>
        <app-small-card
        photoCard="https://tse2.mm.bing.net/th?id=OIP.rkAFgJANkQAqOIxZwj4oAAHaEK&pid=Api&P=0"
        contentCard="aquaman, lançamento é sucesso mundial"
        contentPage="#"
        >

        </app-small-card>
    </div>
</div>

